##Swift Vapor 
api/Packages
api/.build
api/xcuserdata
api/*.xcodeproj
api/DerivedData/
api/.DS_Store
api/db.sqlite
api/.swiftpm

##XCode
iOS/ToDo-SwiftUI/ToDo-SwiftUI.xcodeproj/project.xcworkspace/xcuserdata/
iOS/.DS_Store

##Root
.DS_Store
